html {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
  body {
    width: 100%;
    margin: 0 auto;
  }
  a{
    color:  #0b2a1b;
  }
  .contenedor {
    overflow-y: hidden;
  }

 .menu-navegacion {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .menu-navegacion ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    height: 48px;
  }
  .menu-navegacion ul li {
    display: inline-block;
    padding: 15px 20px 15px 20px;
  }
  .menu-navegacion ul li a {
    text-decoration: none;
  }
  .cuerpo-principal {
    background-color: #ebece7;
    color: #06392a;
    width: 1200px;
    height: 520px;
    margin: 0px auto 5px auto;
    overflow-y: scroll;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }



  .pie {
    background-color: #ebece7;
    text-align: center;
    overflow: hidden;
  }



#tabla-cabecera{
    width: 100%;
    height: auto;
    text-align: center;
}

#central{
    width: 7%;
    opacity: 0.4;
    padding: 10px;
}

.separator{
  width: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.3;
}

#btn-select{
  color: #039e72;
}

a:hover{
  color: #039e72;
}

.btn:hover{
  transition:all .1s ease;
  border-bottom: 4px solid  #06392a;
}

#h1-titulo{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 60px;
  margin: 0px;
}

#h1-central{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 40px;
  margin: 0px;
}

#primer-letra{
  font-weight: bold;
  color: #b6b6b6;
  font-size: 50px;
  margin-right: 5px;
  text-shadow: 3px 3px #0b2a1b;
}

.info{
  margin-top: 40px;
  text-align: justify
}

.info-der{
  float: left;
  margin-top: 40px;
  width: 350;
  position: fixed;
}

#imagen{
  width: 35%;
}



